body {
  height: 100vh;
  background-color: #191a23;
  color: rgb(238, 239, 252);
  font-family: "Inter", sans-serif;
}

.link {
  text-decoration: none;
  color: rgb(238, 239, 252);
}

/* NAVBAR COMPONENT */
.navbar {
  border-bottom: 0.5px solid #3b3c48;
  padding: 2px 200px;
}

.web-logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* DROPDOWNS COMPONENT */

#features,
#contact,
#workspace,
#user,
#options {
  background-color: transparent;
  border: none;
}

.dropdown-menu-features {
  padding: 24px;
  width: 22vw;
  background: linear-gradient(to bottom right, #171830, #393b4f);
  color: rgb(238, 239, 252);
  border-radius: 16px;
}

.feature-tickets,
.feature-projetcs,
.feature-calendar,
.feature-comments {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.feature-tickets > div,
.feature-projetcs > div,
.feature-calendar > div,
.feature-comments > div {
  display: flex;
  align-items: center;
  gap: 16px;
}

.feature-tickets > p,
.feature-projetcs > p,
.feature-calendar > p,
.feature-comments > p {
  padding-left: 32px;
  color: #81869b;
}

.dropdown-menu-contact,
.dropdown-ticket-options,
.dropdown-user,
.dropdown-workspace {
  padding: 24px;
  background: linear-gradient(to bottom right, #171830, #393b4f);
  color: rgb(238, 239, 252);
  border-radius: 16px;
}

.dropdown-menu-contact > div {
  padding-bottom: 16px;
}

.contact-phone,
.contact-email,
.contact-github,
.contact-linkedin {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* HOME PAGE */
.home-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 128px;
}

.heading {
  text-align: center;
  margin: 24px 0px;
  color: unset;
  padding-bottom: 0.13em;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -0.02em;
  font-weight: 500;
}

.paragraph {
  color: rgb(180, 188, 208);
  text-align: center;
  margin: 0px 0px 48px;
  font-size: 22px;
  line-height: 1.3;
  font-weight: 400;
}

/* SIGN UP , LOG IN && WORKSPACE PAGES */
.login-page,
.singup-page,
.workspace-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 140px auto auto;
}

.form-singup,
.form-login,
.form-workspace {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  background: linear-gradient(to bottom right, #171830, #393b4f);
}

.input-group {
  position: relative;
  --primary: #5c6ad2;
}

.input {
  all: unset;
  color: rgb(238, 239, 252);
  padding: 12px;
  width: 20vw;
  border: 1px solid #3b3c48;
  border-radius: 10px;
  transition: 150ms cubic-bezier(0.4, 0, 0.4, 1);
}

.label {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: rgb(156, 158, 172);
  pointer-events: none;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  border: 1px solid var(--primary);
}

.input:is(:focus, :valid) ~ label {
  transform: translateY(-100%) scale(0.7);
  background: linear-gradient(to bottom right, #171830, #393b4f);
  padding-inline: 0.9rem;
  color: var(--primary);
}

/* DASHBOARD PAGE */
.dashboard-page {
  height: 100vh;
  display: flex;
}

/* SIDEBAR COMPONENT */

/* Profile Page */
.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin: 100px auto auto;
  width: 50vw;
}

.profile-info {
  display: flex;
  flex-direction: column;
  margin: 24px 0px;
  gap: 24px;
}

.profile-photo,
.profile-email,
.profile-fullname,
.profile-username {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile-photo > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  border-right: 0.5px solid #3b3c48;
  width: 280px;
  padding: 12px 12px;
  height: 100vh;
}

.nav-sidebar {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.workspace-user {
  color: #81869b;
  display: flex;
  justify-content: space-between;
}

#workspace {
  display: flex;
  gap: 4px;
  align-items: center;
}

.workspace-logo {
  background-color: #5c6ad2;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.modal-ticket {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 36vw;
  margin-bottom: 40px;
  display: flex;
  gap: 40px;

  background-color: #262733;
  border: 0.5px solid #3b3c48;
}

.modal-welcome {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #262733;
  border: 0.5px solid #3b3c48;
  padding: 32px;
  border-radius: 16px;
  width: 450px;
}

.modal-member {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 280px;
  width: 500px;

  border-radius: 16px;
  padding: 24px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #262733;
  border: 0.5px solid #3b3c48;
}

.modal-ticket-options {
  top: 700px;
  right: 350px;
  background: linear-gradient(to bottom right, #15162d, #2f3143);
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 12px;
}

.dropdown-toggle::after {
  content: none;
}

.ticket-list {
  /* padding: 2px; */
  border-right: 0.5px solid #3b3c48;
  width: 68vw;
}

/* TicketCard */
.ticket-card {
  border-top: 0.8px solid #3b3c48;
  border-bottom: 0.8px solid #3b3c48;
  font-size: 0.86em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  background-color: #191a23;
}

.ticket-card-left,
.ticket-card-right {
  display: flex;
  /* gap: px; */
}

.ticket-card-right {
  display: flex;
  gap: 12px;
}

.ticket-card-left > div {
  width: 2vw;
  display: flex;
  align-items: center;
}

.ticket-title {
  font-weight: 500;
  font-size: 15px;
  width: 300px !important;
}

.ticket-card-right > div {
  border: 1px solid #3b3c48;
  border-radius: 16px;
  padding: 2px 16px;
}

.footer {
  background-color: #191a23;
}

.ticket-status {
  background-color: rgb(32, 33, 46);
  padding: 2px 22px;
  font-size: 15px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.count-tickets {
  color: gray;
}

.status-option,
.priority-option,
.label-option,
.assignee-option {
  display: flex;
  gap: 8px;
  align-items: center;
  color: rgb(238, 239, 252);
}

.ticket-details-page {
  background-color: #191a23;
  height: 100vh;
}

.ticket-details {
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
  border-right: 0.5px solid #3b3c48;
  position: relative;
  width: 68vw;
  height: 100vh;
}

.ticket-details-input {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 16vh;
}

.ticket-details-input > form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-title {
  font-size: 22px;
  line-height: 1.6em;
  font-weight: 500;
  padding: 6px 14px;
  background: transparent;
  border: transparent;
  color: rgb(238, 239, 252);
  transition: none;
  outline: none;
  width: 50vw;
  height: 47px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.input-description {
  padding: 6px 14px;
  background-color: transparent;
  border: transparent;
  color: rgb(238, 239, 252);
  transition: none;
  outline: none;
  width: 50vw;
  line-height: 1.5rem;
  font-size: 0.9375rem;
  margin-top: 10px;
  margin-bottom: 8px;
}

.activity-ticket {
  padding: 30px 14px;
}

.user-photo {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
/* style={{ padding: "6px 14px" }} */

.activity-heading {
  font-style: normal;
  text-align: left;
  color: rgb(238, 239, 252);
  line-height: 1.4375rem;
  font-size: 0.9375rem;
  font-weight: 500;
}

.username-photo {
  display: flex;
  gap: 20px;
  margin-top: 24px;
  align-items: center;
}

.photo-comment {
  display: flex;
  gap: 20px;
}

.comment-and-button {
  border-radius: 16px;
  border: 0.5px solid rgb(44, 46, 60);
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: rgb(32, 33, 46);
}

#comments {
  width: 45vw;
  background-color: rgb(32, 33, 46);
  border: rgb(32, 33, 46);
  transition: none;
  outline: none;
  padding: 6px 14px;
  color: rgb(238, 239, 252);
  resize: none;
}

.more-ticket-details {
  background-color: #20212e;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  gap: 24px;
  color: rgb(156, 158, 172);
  font-style: normal;
  text-align: left;
  line-height: normal;
  font-size: 15px;
  font-weight: 500;
  width: 270px;
  height: 100vh;
}

.ticket-detail-select {
  display: flex;
  gap: 40px;
  align-items: center;
}

#status,
#priority,
#assignee,
#label {
  align-items: center;
  border: 0.5px solid #3b3c48;
  line-height: 1;
  flex-grow: 0;
  flex-shrink: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 1px;
  background-color: rgba(82, 82, 121, 0.25);
  position: relative;
}

.menu-status,
.menu-priority,
.menu-label,
.menu-assignee {
  border-radius: 16px;
  padding: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #262733;
  border: 0.5px solid #3b3c48;
}

.dropdown-item:hover {
  background-color: rgba(
    82,
    82,
    121,
    0.25
  ) !important; /* Change hover background color as needed */
  color: rgb(238, 239, 252);
}

.accordion-item {
  background-color: transparent;
  border: transparent;
}

/* .accordion-header {
  color: rgb(238, 239, 252);
} */

/* .accordion-body {
  background-color: transparent;
} */

.accordion-button {
  background-color: transparent;
  color: rgb(238, 239, 252);
  border: transparent;
}

.accordion-button:not(.collapsed) {
  padding-left: 14px;
  color: rgb(238, 239, 252);
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0px;
}

.accordion-button {
  padding: 0.355rem;
  border-radius: 0.355rem;
  width: 10vw;
  height: 4vh;
  padding-left: 14px;
}
.accordion-button:not(.collapsed) {
  padding-left: 14px;
  color: rgb(238, 239, 252);
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0.355rem;
  border-radius: 0.355rem;
}

.accordion-button:hover {
  background-color: #262736;
  border: 0.5px solid #262736;
}

.ticket-card:hover {
  background-color: #1c1d2a;
}

.dashboard-filter {
  width: 280px;
  /* border: 1px solid green; */
}

/* Workspace Details Page */
.workspace-details-page,
.profile-details-page {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 400px;
  margin-right: 400px;
  width: 50vw;
  justify-content: center;
  align-items: baseline;
  align-self: center;
}

/* .workspace-header {
  display: flex;
  flex: initial;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
} */

/* .workspace-heading {
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.01rem;
} */

/* .workspace-orientation {
  font-style: normal;
  text-align: left;
  color: rgb(133, 134, 153);
  line-height: normal;
  font-size: 0.8125rem;
  font-weight: 500;
} */

.horizontal-line {
  border-top: 1px solid rgb(44, 45, 60);
  margin: 24px 0px;
  width: 50vw;
}

.form-control {
  color: rgb(238, 239, 252);
  background-color: #151621;
  border: 1px solid rgb(49, 50, 72);
  height: 32px;
  padding: 6px 12px;
  width: auto;
}

.btn-check:checked + .btn {
  background-color: #5c6ad2;
  border: #5c6ad2;
}

.form-control::placeholder {
  opacity: 0.5;
  color: rgb(238, 239, 252);
}

.form-control:focus {
  background-color: transparent;
  outline: none;
  color: rgb(238, 239, 252);
}

/* Beta */

/* BUTTONS */
.loggin-button-home {
  background-color: transparent !important;
  border: transparent;
}

.singup-button,
.login-button,
.profile-button,
.logout-button,
.get-started-button,
.update-button,
.add-member-button,
.edit-button,
.delete-button,
.comment-button,
.workspace-button,
.assigness-button,
.status-button,
.labels-button,
.priority-button,
.create-ticket-button,
.create-new-ticket-button {
  background-color: #5c6ad2;
  border: #5c6ad2;
  cursor: pointer;
}
.singup-button:hover,
.login-button:hover,
.profile-button:hover,
.logout-button:hover,
.get-started-button:hover,
.update-button:hover,
.add-member-button:hover,
.edit-button:hover,
.delete-button:hover,
.comment-button:hover,
.workspace-button:hover,
.assigness-button:hover,
.status-button:hover,
.labels-button:hover,
.priority-button:hover,
.create-ticket-button:hover,
.create-new-ticket-button:hover {
  background-color: #6b7bf1;
}

.inbox-button,
.mytickets-button,
.roadmaps-button,
.views-button,
.import-tickets-button,
.invite-people-button,
.cycles-button,
.tickets-button,
.active-button,
.backlog-button,
.projects-button,
.view-button,
.bug-button,
.feature-button,
.improvement-button,
.no-priority-button,
.urgent-button,
.high-button,
.medium-button,
.low-button {
  background-color: transparent;
  border: transparent;
  /* width: 10vw; */
  display: flex;
  gap: 8px;
  align-items: center;
}

.inbox-button,
.mytickets-button,
.roadmaps-button,
.views-button {
  width: 250px;
}

.tickets-button,
.active-button,
.backlog-button,
.projects-button,
.view-button {
  width: 200px;
}

.import-tickets-button,
.invite-people-button,
.cycles-button {
  width: 220px;
}

.inbox-button:hover,
.mytickets-button:hover,
.roadmaps-button:hover,
.views-button:hover,
.import-tickets-button:hover,
.invite-people-button:hover,
.cycles-button:hover,
.tickets-button:hover,
.active-button:hover,
.backlog-button:hover,
.projects-button:hover,
.bug-button:hover,
.feature-button:hover,
.improvement-button:hover,
.no-priority-button:hover,
.urgent-button:hover,
.high-button:hover,
.medium-button:hover,
.low-button:hover,
.view-button:hover {
  background-color: #262736;
  border: 0.5px solid #262736;
}

.bug-button.active,
.feature-button.active,
.improvement-button.active,
.no-priority-button.active,
.urgent-button.active,
.high-button.active,
.medium-button.active,
.low-button.active {
  background-color: #262736;
  border: 0.5px solid #262736;
}

/* .btn.active {
  background-color: #262736;
  border: 0.5px solid #262736;
} */

.new-ticket-button {
  width: 200px;
  display: flex;
  justify-content: flex-start;
}
.new-ticket-button,
.search-button,
.status-filter,
.label-filter,
.priority-filter {
  cursor: pointer;
  background-color: #262733;
  border: 0.5px solid #3b3c48;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 4vh;
}

.search-button:hover,
.new-ticket-button:hover,
.status-filter:hover,
.label-filter:hover,
.priority-filter:hover,
#workspace:hover,
#user:hover {
  background-color: #262736;
  border: 0.5px solid #262736;
}
